.checkout {
  width: 570px;
  height: 100vh;
  background-color: #121214;
  position: absolute;
  right: 0;
  top: 0;
  padding: 2rem 3rem;

  .close-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    .close {
      cursor: pointer;
      padding: 10px;
    }
  }
}