# Diretórios de build e binários
/bin/
/build/
/out/

# Arquivos de dependências do Go
vendor/

# Arquivos do Go Modules
go.sum

# Diretórios e arquivos temporários
*.log
*.tmp
*.swp
*.swo

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações de IDEs e editores
.vscode/
.idea/
*.iml

# Cobertura de testes
testdata/
*.coverprofile
coverage.out

# Executáveis compilados
*.exe
*.dll
*.so
*.dylib

.env