.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #121214;
  color: white;
  width: 95%;
  max-width: 100vw;
  margin: 0 auto;
}

.container {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .logo-icon {
    font-size: 20px;
    font-weight: bold;
  }

  .cart-wrapper {
    .cart {
      background: #202024;
      padding: 12px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 50px;
      cursor: pointer;
      transition: filter 0.3s ease-in-out;
    
      &:hover {
        filter: brightness(1.5);
      }
    
      .cart-img {
        width: 24px;
        height: auto;
      }
    
      .cart-message {
        margin-top: 8px;
        font-size: 14px;
        color: white;
      }
    }
  }

  .checkout {
    width: 300px;
    height: 300px;
    background: red;
    position: absolute;
    right: 0;
    top: 100px;
  }
}
