.card-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px auto 100px auto;
}

.card {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 20px;
  text-align: center;
}

.info {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

  .header__cart-img {
    width: 100%;
  }
}

.add-to-cart {
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  font-weight: 700;
  padding: 0 32px;
  text-align: center;
  background-color: #7ebc43;
  border-color: #7ebc43;
  color: #fff;
  margin-top: 10px;
  width: 100%;
  padding: 10px 10px;
  border-radius: 6px;
  transition: 0.2s;
}

.add-to-cart:hover {
  background-color: #6dab34;
}

.card .title {
  text-decoration: none;
  align-items: center;
  flex: 1;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  margin: 8px 0;
  text-align: center;
}

.card .price {
  color: #cf4dce;
  font-weight: 700;
  font-size: 20px;
}
