.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #121214;
  color: white;
  max-width: 100vw;

  .header__container {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;

    .header__logo-icon {
      font-size: 20px;
      font-weight: bold;
    }

    .header__cart-wrapper {
      position: relative;
      .header__cart {
        background: #202024;
        padding: 12px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: filter 0.3s ease-in-out;

        &:hover {
          filter: brightness(1.5);
        }

        .header__cart-img {
          width: 24px;
          height: auto;
        }

        .header__cart-message {
          margin-top: 8px;
          font-size: 14px;
          color: white;
        }
      }

      .quantity {
        position: absolute;
        background: #ff597b;
        color: #fff;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        top: -5px;
        right: -5px;
        font-size: 12px;
      }
    }
  }
}
