.checkout {
  width: 500px;
  height: 100vh;
  background-color: #202024;
  position: absolute;
  right: 0;
  top: 0;
  padding: 2rem 3rem;

  .close-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__label {
      color: #e1e1e6;
      display: block;
      font-size: 21px;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      unicode-bidi: isolate;
    }

    .close {
      cursor: pointer;
      padding: 10px;
    }
  }

  .cart-products {
    max-height: 25rem;
    overflow-y: auto;
    .cart-product {
      padding: 10px;
      display: flex;
      align-items: center;

      img {
        width: 100px;
        background-color: #fff;
        border-radius: 8px;
        margin-right: 20px;
      }

      .info-wrapper {
        color: #fff;
        font-size: 20px;
        margin-top: 0.5rem;
        margin-bottom: 1.25rem;

        .product-name {
          color: #c4c4cc;
          font-size: 16px;
        }


        .product-price {}

        .remove-product {
          color: #ff597b;
          font-size: 16px;
          cursor: pointer;
          font-weight: bolder;
        }
      }
    }
  }

  .checkout-price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

    p {
      text-align: end;
    }

    .left-labels {}

    .right-values {}
  }

  .finish-checkout {
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    font-weight: 700;
    padding: 0 32px;
    text-align: center;
    background-color: #7ebc43;
    border-color: #7ebc43;
    color: #fff;
    margin-top: 8px;
    width: 100%;
    padding: 10px 10px;
    border-radius: 6px;
    transition: 0.2s;
    margin-top: 30px;

    &:hover {
      background-color: #6dab34;
    }
  }
}